*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color: white;

}


p,
li{
  line-height: 1.5rem;
}

button{
  border: none;
  border-radius: 15px;
  padding: .5rem .5rem;
  padding: .6rem .9rem;
}

ul li{
  margin-left: 1rem;
  list-style: none;
}

.container{
  width: 70%;
  margin: 0 auto;
  height: 100%;
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
}
/* header */

/* nav section */

header>nav{
  background-color: #255ee9;
  padding: .5rem 0;
}

header nav>div.flex-space-between{
  align-items: center;
  padding: .5rem; 
  font-size: 0.7rem;
}

header ul{
  display: flex;
}

/* end nav section */

/* main title */
header section{
  background-image: url(../img/jumbo.png);
  background-size: cover;
  padding: .5rem 0;
  height: 26rem;
}

div.title-container{
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 6rem;
}

header h1{
  font-size: 2.5rem;
}

header p{
  margin: 1.5rem 0 1rem 0;
}

header nav button,
div.title-container button{
  margin-right: 1rem;
  color: black;
}

div.title-container button:last-child{
  color: white;
  background-color: #23272a;
}

/* end title section */
/* end header */

/* main */

main{
  color: #23272a;
}

main .container{
  margin: 5rem auto;
}

/* reverse section */
main div.flex-space-between{
  margin: 2rem 0;
}

main div.flex-space-between img{
  width: 60%;
}

div.description-container{
  width: 30%;
}

div.description-container h2{
  font-size: 2rem;
  margin: 1.5rem 0 1rem 0;

}

main div.reverse{
  flex-direction: row-reverse;
}

.gray{
  background-color: #f6f6f6;
  padding: .5rem 0;
}

/* end reverse section */

/* keep in touch section */

div.keep-in-touch{
  text-align: center;
}

div.keep-in-touch h2{
  margin-bottom: 1rem;
}

div.keep-in-touch h3{
  line-height: 3rem;
  width: 35%;
  margin: 0 auto;
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.keep-in-touch img{
  width: 100%;
}

div.keep-in-touch button,
footer button{
  background-color: #899ddf;
  color: white;
}

/* end keep in touch section */
/* end main */

/* footer */
  footer{
    background-color: #23272a;
  }

/*  head footer */

/* lenguage and social contact */
footer div.staff{
  display: flex;
  padding: 2rem 0; 
}

section.lenguage-social{
  width: 35%;
}

.staff h4{
  font-size: 1.5rem;
}

img.ita{
  width: 1.5rem;
  margin: 1rem 0;
  vertical-align: middle;
}

select{
  background-color: #23272a;
  border: none;
  color: white;
}

figure.social-icon a{
  font-size: 1.4rem;
  margin-right: 1rem;
  color: white;
  text-decoration: none;
}

/* end lenguage and social contact */

/* column footer list */

section.list{
  width: calc(100%/4);
}

footer h4,
footer li:first-child{
  color: #7289da;
}

/* end column footer list */
/*  end head footer */


/* last logo */

div.last-logo{
  padding: 1rem 0 2rem 0;
}
/* end last logo */
/* end footer */